/************************************************
Brian Blaylock's extra styling
*************************************************/

* {
	margin:0;
	padding:0;
}

html {

}

body { 
}

#content {
	padding: 0 5px 1.3em;
	border-top: 1px solid #666; 
	background-color: white;
	max-width: 1070px;
	margin: 0 auto;
	position: relative;
	min-height: 100%;
	border-left: 1px solid #666;
	border-right: 1px solid black;
	font-size: 18px;
}
#contentNoBorder {
	padding: 0 5px 1.3em;
	background-color: white;
	max-width: 1070px;
	margin: 0 auto;
	position: relative;
	min-height: 100%;

}
#footer {
	/*position: absolute;*/
	bottom:0;
	width:100%;
	height: 1.5em;
	border-top: 1px solid black;
	padding-top: 15px;
	font-size: 12px;
	}



p{
	font-family: Arial;
	padding-left: 15px;
	padding-right: 15px;
	
}

select{
	/*background:linear-gradient(lightgrey, white);*/
	width: 130px;
	padding: 4px 2px;
	font-size: 15px;
	border: 1px solid lightgrey;
	border-radius: 2px;
	padding-left:5%;
}
input[type="text"]{
	/*background:linear-gradient(lightgrey, white);*/
	width: 120px;
	padding: 4px 2px;
	font-size: 15px;
	border: 1px solid lightgrey;
	border-radius: 2px;
	padding-left:5%;
}

input[type="submit"] {	
	/*background:linear-gradient(lightgrey, white);*/
	padding: 2px 10px;
	font-size: 15px;
	border: 1px solid lightgrey;
	border-radius: 2px;

}

input[type="submit"]:hover {
	background-color:#eb675e;
}

input[type="submit"]#waketoolbutton {	
	/*background:linear-gradient(lightgrey, white);*/
	color:white;
	width:200px;
	height:100px;
	padding: 2px 10px;
	font-size: 25px;
	border: 5px solid lightgrey;
	border-radius: 32px;
	background-color:darkred;
	margin:0 auto;
	display: block;
}

input[type="submit"]:hover#waketoolbutton {
	background-color:green;
}
input.FormTouch {	
	/*background:linear-gradient(lightgrey, white);*/
	color:white;
	float:center;
	width:25px;
	height:25px;
	padding: 2px 10px;
	font-size: 25px;
	border: 5px solid lightgrey;
	border-radius: 32px;
	background-color:#990000;
	margin:0 auto;
}

input:hover.FormTouch {
	background-color:green;
}

input[type="date"] {	
	/*background:linear-gradient(lightgrey, white);*/
	width: 130px;
	padding: 2px 0px;
	font-size: 15px;
	border: 1px solid lightgrey;
	border-radius: 2px;
	padding-left:5%;
}
img.style1{
	margin-left: auto;
    margin-right: auto;
	vertical-align:top;
	display:block;
	border:1px solid;
	border-color: black black;
	box-shadow: 10px 10px 5px #888888;
}
img.style2{ /* img with padding and no boarder*/
	margin-left: auto;
    margin-right: auto;
	vertical-align:top;
	display:block;
	padding:10px;
}
table.center{
	width:90%;
	margin-left:auto; 
    margin-right:auto;
}

textarea.Linux{
	width:100%; 
	height:30px; 
	color: red; 
	background-color: lightyellow;
	font-family: "Courier";
	font-size:17;
}
textarea.Python{
	width:100%; 
	height:300px; 
	color: #006e18;     
	background-color: #b5efff;
	font-family: "Courier";
	font-size:16;
}
textarea{
	width:100%; 
	height:300px; 
	font-family: "Courier";
	font-size:12;
}

/* CSS for creating an easy "tooltip"
	To display a tool tip when you hover over text or an image
	wrap the text or image with an <a> tag with a title. 
	<a title="this is the text that will show in the tool tip" class="tooltip">Display Text</a>
	If you want to make a special style for it, assign the class and use 
	the following CSS...
*/
.tooltip{
	display:inline;
	position: relative;
}

.tooltip:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 220px;
}

/* 
Classes
*/

.section{
	background-color: #c9c9c9;
	width:95%;
	padding: 15px 15px 15px 15px;
	text-align:left;
}
.section > p{
	font-size:21px;
	padding: 5px;
}
.section > ol{
	font-size:21px;
	padding-left: 50px;
}
.section > ul{
	font-size:21px;
	padding-left: 50px;
}

#home {
    font-size:24px; 
    font-family:'Segoe UI';
    padding:5px;
}

#home a:link{
	color:#990000;
	text-decoration: none;
	font-weight: 500;
}

#home a:visited{
	color:#990000;
	font-weight:500;
}

/* Home Page Top Image*/
.img-container {
  position:relative;
}
.homeImageLink {
   position: absolute; 
   bottom: 20%; 
   left: -2%;
   text-align: center; 
   width: 100%; 
}

.homeImageLink span { 
	color: white;
	font-weight: 100;
	font-size:5vmin;
	font-style: italic;
	text-transform: uppercase;
	letter-spacing: 8px;
	font-family: "Segoe UI";
    padding: 0 30px;
    line-height: 150%;
	float:right;
    background: rgba(0, 0, 0, 0.5);

}

/*(Home Page Top Image)*/



.section > h3{
	font-size:25px;
}
iframe{
	padding: 15px;
	margin-left:auto;
	margin-right:auto;
	display: block;
}
object{
	padding: 15px;
	margin-left:auto;
	margin-right:auto;
	display: block;
}

/*GROW*/
.grow img {
  width: 100%;
 
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
 
.grow img:hover {
  width: 120%;
  
}.pic {
  width:100%;
  height:180px;
  overflow: hidden;
